.blue-btn,
.transparent-btn {
    width: 100%;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    background: $blue;
    color: white;
    border-radius: 6px;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.9);
    }

    @media(max-width: 768px) {
        padding: 12px;
        font-size: 14px;
    }
}

.transparent-btn {
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.3);
    }
}

.cross-btn {
    position: absolute;
    top: 0;
    right: 10px;
    width: 48px;
    height: 48px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: $darkgray;
        border-radius: 1px;
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &:before,
        &:after {
            background: $blue;
        }
    }

    &:active {
        transform: scale(0.9);
    }

    @media (max-width: 768px) {
        right: 0;

        &:before,
        &:after {
            height: 1px;
            transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg) scale(0.8);
        }
    }
}

.swiper-button-prev.prev-btn,
.swiper-button-next.next-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    background: $blue;
    color: white;
    border-radius: 50%;
    opacity: 1;

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 11px;
        height: 11px;
        top: 50%;
        left: 6px;
        transform: translate(0%, -50%) rotate(45deg);
        border-right: 1px solid white;
        border-top: 1px solid white;
    }

    &.swiper-button-disabled {
        background: rgba(186, 209, 255, 0.3);
    }

    @media(max-width: 768px) {
        margin-bottom: 30px;

        &.swiper-button-disabled {
            background: rgba(186, 209, 255, 1);
        }
    }
}

.swiper-button-prev.prev-btn {

    &:after {
        left: 11px;
        transform: translate(0%, -50%) rotate(-135deg);
    }
}

.circle-btn {
    position: relative;
    width: 70px;
    height: 70px;
    background: rgba(57, 125, 255, 0.15);
    border: 1px solid rgba(57, 125, 255, 0.5);
    border-radius: 50%;
    transition: 0.3s;

    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 27px;
        height: 27px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(57, 125, 255, 0.5);
        border-radius: 50%;
        transition: 0.3s;
    }

    &__icon {
        position: absolute;
        display: block;
        width: 9px;
        height: 9px;
        stroke: white;
        stroke-linecap: round; 
        stroke-linejoin: round;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
        opacity: 0;
    }

    &:hover {
        &:before {
            background: $blue;
            border: 1px solid $blue;
        }

        .circle-btn__icon {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(0.9);
    }

    &:focus {
        &:before {
            background: $blue;
        }

        .circle-btn__icon {
            opacity: 1;
        }
    }

    @media(max-width: 1200px) {
        width: 40px;
        height: 40px;

        &:before {
            width: 20px;
            height: 20px;
        }
    }
}