body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: $black;
}

body * {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:not(.main-nav__item) {
    position: relative;
    margin-left: 25px;
    padding: 5px;
    font-weight: 400;
    font-size: 12px;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        top: 50%;
        left: -8px;
        transform: translate(-100%, -50%);
        background: $blue;
        border: 5px solid $lightblue;
        border-radius: 50%;
    }
}

a {
    text-decoration: none;
}

input, textarea, button {
    background: none;
    border: none;
    resize: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}

h1, h2, h3, h4, p {
    margin: 0;
}

