body {
    font-family: 'Montserrat', Arial, sans-serif;;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, textarea, button {
    background: none;
    border: none;
    resize: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

img {
    object-fit: cover;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.blue-btn {
    width: 100%;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    background: $blue;
    color: white;
    border-radius: 6px;
}

